<!-- views/profile.ejs -->
<!doctype html>
<html>
<% include('head.ejs'); %>
<body>
	<% include('header_logged.ejs'); %>
	<div class="all-site-wrap">
		<h1>You are logged <%= user.login %> !</h1>
		<% for(let i = 0 ; i < user.pictures.length ; i++) { %>
		<img src="/pictures/<%= user.login %>/<%= user.pictures[i] %>">
		<% } %>

	</div>
	<div class="react-matcha"></div>
	<script src="bundle.js"></script>
</body>
<%- include('footer.ejs'); %>
</html>
