<header class="site-header">
	<div class="header-name">
		<h1>Matcha</h1>
	</div>
	<nav class="site-menu">
		<a href="/around">Around me</a>
		<a href="/search">Search</a>
		<a href="/myprofile">My profile</a>
		<a href="/logout" id="logout-button">Logout</a>
	</nav>
</header>
