<head>
    <title>Matcha - Meet your soulmate</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	 <link rel="stylesheet" type="text/css" href="index.css">
    <style>
        body        { padding-top:80px; }
    </style>
	 <script src="https://unpkg.com/react@15/dist/react.js"></script>
	 <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
</head>
