<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>SNCF</title>
</head>
<body>
	<header>
		<h1>Menu Déroulant</h1><br/>
	</header>
	<section>
		<h2>Etage : <%= etage %></h2>
	</section>
	<footer>
	</footer>
</body>
</html>
