<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>Matcha</title>
</head>
<body>
	<header>
		<h1>Matcha</h1><br/>
	</header>
	<section>
		<h2>Login</h2>
		<table cellspacing="0" role="presentation">
			<tr>
				<td><label for="email">Login</label></td>
				<td><label for="pass">Password</label></td>
			</tr>
			<tr>
				<td><input type="email" name="login" value="" tabindex="1" /></td>
				<td><input type="password" name="passwd" tabindex="2" /></td>
				<td><input type="submit" value="OK" tabindex="3" /></td>
			</tr>
			<tr>
				<td>
					<div><a href="index.php?p=signup" tabindex="4">Créer un compte</a></div>
				</td>
				<td>
					<div><a href="index.php?p=forgot" tabindex="5">Mot de passe oublié?</a></div>
				</td>
			</tr>
		</table>
	</section>
	<footer>
	</footer>
</body>
</html>
