<!-- views/profile.ejs -->
<!doctype html>
<html>
<%- include('head.ejs'); %>
<body>
	<%- include('header_logged.ejs'); %>
	<div class="all-site-wrap">
		<h1>You are logged <%= user.login %> !</h1>
		<form class="" action="/update-info" method="post">
			<div class="form-group">
				<label>I'm a</label>
				<select class="form-control" name="gender">
					<option value="male">dude</option>
					<option value="female">girl</option>
				</select>
			</div>
			<div class="form-group">
				<label>I'm</label>
				<input type="date" class="form-control" name="age" value="">
				years old.
			</div>
			<div class="form-group">
				<label>I want to find the perfect</label>
				<select class="form-control" name="interest">
					<option value="male">dude</option>
					<option value="female">girl</option>
				</select>
			</div>
			<div class="form-group">
				<label>About me</label>
				<input type="text" class="form-control" name="" value="">
			</div>
			<div class="form-group">
				 <label>First name</label>
				 <input type="text" class="form-control" name="firstname">
			</div>
			<div class="form-group">
				 <label>Last name</label>
				 <input type="text" class="form-control" name="lastname">
			</div>
			<div class="form-group">
			  <label>My email</label>
			  <input type="text" class="form-control" name="email">
			</div>
			<div class="form-group">
				<label>Change my password</label>
				<input type="password" class="form-control" name="password" value="">
				<input type="password" class="form-control" name="password-confirm" value="">
			</div>
			<input type="submit">
		</form>
		<form method='post' action='/upload' encType="multipart/form-data">
			<input type="file" name="image" />
			<input type='submit' value='Upload' />
		</form>
	</div>
</body>
<%- include('footer.ejs'); %>
</html>
